// EGUI development
layout {
    default_tab_template {
      children
      pane size=1 borderless=true {
          plugin location="zellij:compact-bar"
      }
    }
    tab focus=true name="Neovim" {
      pane {
        name "The One True Text Editor"
        command "nvim"
        focus true
      }
    }
    tab name="Terminal" split_direction="vertical" {
      pane name="Cargo"
      pane name="Trunk" focus=true command="trunk" {
        args "serve"
      }
    }
}
